:root {
    --body-color: #d87093
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: black;
    color: white;
}

#inicio {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 24px 80px 128px 80px;
    position: relative;
}

a {
    color: var(--body-color);
}

h1, h2 {
    color: var(--body-color);
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.paragrafo {
    text-align: center;
    line-height: 150%;
    margin: 2rem;
    font-size: 1.25rem;
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

#biografia {
    text-align: center;
}

#duvidas {
    display: flex;
    align-items: start;
    gap: 3rem;
    padding: 64px 80px;
}

.duvida {
    position: relative;
}

.duvida h3 {
    border: 2px solid var(--body-color);
    border-radius: 8px;
    cursor: pointer;
    display: block;
    padding: 1.2rem;
}

.duvida img {
    position: absolute;
    top: 2rem;
    right: 1rem;
}

.duvida .paragrafo {
    border-right: 1px solid var(--body-color);
    border-bottom: 1px solid var(--body-color);
    border-left: 1px solid var(--body-color);
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0 24px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s;
}

.duvida.active .paragrafo {
    height: fit-content;
    opacity: 1;
    padding: 1rem;
}

@media only screen and (max-width: 700px) {
    #inicio {
        text-align: center;
        display: block;
        padding: 24px 10px 128px 10px;
    }

    .imagem {
        width: 100%;
        margin-bottom: 2rem;
    }

    #duvidas {
        text-align: center;
        display: block;
        padding: 64px 10px;
    }

    .duvida img {
        width: 3%;
    }

    .duvida .paragrafo {
        padding: 0 10px;
    }
}